<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.fedecalendino.alfred-minute-inbox</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>69F6C12B-E9DB-49D4-B60F-929DA6F2067B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A33AFDB6-9BCF-41A9-901A-29919A87E5E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91D3FF51-7494-412B-B6C4-22106E42D64F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD9F4402-D7FA-439B-8A97-92E9227B0939</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>013648C8-9D48-4C9E-880D-3E73FB09578A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>69F6C12B-E9DB-49D4-B60F-929DA6F2067B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>50ECDE9F-D869-4876-85A3-16F0418D2F03</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>158A181B-7322-442D-8A29-EE48C2F68CE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D25A8119-B2C1-4612-B2CC-4BDAD8FBFFB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91D3FF51-7494-412B-B6C4-22106E42D64F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fede Calendino</string>
	<key>description</key>
	<string>Get a disposable email address 📨️</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Minute Inbox</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>file://{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BD9F4402-D7FA-439B-8A97-92E9227B0939</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Fetching your disposable email address...</string>
				<key>script</key>
				<string>/usr/bin/python3 ./dist/main.py $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Get a disposable email address</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D25A8119-B2C1-4612-B2CC-4BDAD8FBFFB8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A33AFDB6-9BCF-41A9-901A-29919A87E5E2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python3 ./dist/extend.py $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>69F6C12B-E9DB-49D4-B60F-929DA6F2067B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.*html</string>
						<key>outputlabel</key>
						<string>content</string>
						<key>uid</key>
						<string>013648C8-9D48-4C9E-880D-3E73FB09578A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>extend</string>
						<key>outputlabel</key>
						<string>extend</string>
						<key>uid</key>
						<string>50ECDE9F-D869-4876-85A3-16F0418D2F03</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>address</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>91D3FF51-7494-412B-B6C4-22106E42D64F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>158A181B-7322-442D-8A29-EE48C2F68CE9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Get a disposable 10 minute email address 📨️</string>
	<key>uidata</key>
	<dict>
		<key>158A181B-7322-442D-8A29-EE48C2F68CE9</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>69F6C12B-E9DB-49D4-B60F-929DA6F2067B</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>91D3FF51-7494-412B-B6C4-22106E42D64F</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>A33AFDB6-9BCF-41A9-901A-29919A87E5E2</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>BD9F4402-D7FA-439B-8A97-92E9227B0939</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>D25A8119-B2C1-4612-B2CC-4BDAD8FBFFB8</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>inbox</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to get a disposable address.</string>
			<key>label</key>
			<string>Minute Inbox Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.1.2</string>
	<key>webaddress</key>
	<string>https://github.com/fedecalendino/alfred-minute-inbox</string>
</dict>
</plist>
